/* fonts.css */
@font-face {
    font-family: 'Serial';
    src: url('./fonts/SerialB-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Serial';
    src: url('./fonts/SerialB-Regular.woff') format('woff');
    font-weight: 400;
}
